<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/admin/answer_detail.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <div>
            <a href="main.html" th:href="@{/main}">
                <h1>THE HOTEL</h1>
            </a>
        </div>
        <section class="head">
            <ul>
                <li><a href="hotelinfo.html" th:href="@{/hotelinfo}">호텔 정보</a></li>
            </ul>
            <ul>
                <li><a href="roominfo.html" th:href="@{/roominfo}">객실 정보</a></li>
            </ul>
            <ul>
                <th:block th:if="${session.member == null}">
                    <li><a th:href="@{/login}">로그인</a></li>
                </th:block>
                <th:block th:if="${session.member != null}">
                    <p>
                        <li><a th:href="@{/memberdetail}">[[${session.member.name}]]</a>님, 환영합니다.<a
                                th:href="@{/logout}"><br>로그아웃</a></li>
                    </p>
                </th:block>
            </ul>
            <ul>
                <li><a href="">예약 확인</a></li>
            </ul>
            <ul>
                <li><a href="map.html" th:href="@{/map}">오시는 길</a></li>
            </ul>
            <ul>
                <li><a href="qna.html" th:href="@{/question/list}">Q & A</a></li>
            </ul>
        </section>
    </header>
    <hr>
    <section th:if="${session.admin == null}">
	     <div class="noBody" >
	    	<span>
	    		잘못된 접근 입니다
	    	</span>
	    </div>
    
    </section>
    <section class="admin_body" th:unless="${session.admin == null}">
        <div>
            <ul>
                <li><a th:href="@{reservation}">예약관리</a></li>
                <li><a th:href="@{answer}">Q&A</a></li>
                <li><a th:href="@{member}">회원목록</a></li>
                <li><a th:href="@{crew}">관리자 운영</a></li>
                <li><a th:href="@{/admin/master}">관리자 홈</a></li>
            </ul>
        </div>
    </section>
    <div class="question_user">
        <ol class="info_ol">
            <li>Name</li>
            <li>Title</li>
            <li>Content</li>
        </ol>
        <ol class="Answer_ol">
            <li th:text="${question.id}"></li>
            <li th:text="${question.title}"></li>
            <li class="none_text">　</li>
        </ol>
    </div>
    <div class="Answer">
        <ol>
            <li class="Answer_line" th:text="${question.content}"></li>
        </ol>
    </div>
    <hr class="foot_line">
    <div class="admin_Answer" th:unless="${session.admin == null}">
        <form th:action="@{/admin/detail/}+${question.questionNo}"  th:method="post">
            <div>
                <label for="answer">답변: </label>
                <input type="text" id="answer" th:field="${createAnswer.answer}">
            </div>
            <div>
                <button class="answer_submit">등록하기</button>
            </div>
        </form>
    </div>
</body>

</html>