<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>비밀번호 변경</title>
	
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	
</head>
<body>
	<div>
		<span>비밀번호</span><br/>

		<span>새 비밀번호</span>
		<input id="inputNewPw" type="password"></input><br/>
			
		<span>새 비밀번호 확인</span>
		<input id="inputNewPw2" type="password"></input><br/>
			
	    <button type="button" id="updatePwBtn">비밀번호 변경</button><br><br>
    </div>
    
    <script>
    	var updatePwBtn = document.getElementById('updatePwBtn');
    	
    	updatePwBtn.onclick = function(){
    		
    		if(inputNewPw.value == ''){
    			alert('변경할 내용이 없습니다.');
    			
    		}else{
    		
	    		$.ajax({
	    			url: '/changePw2',
	    			data: {
	    				inputNewPw: $('#inputNewPw').val(),
	    				inputNewPw2: $('#inputNewPw2').val()
	    			},
	
	    			success:
	    				function(result){
	    				
	    					if(result == 'regex') {
		    					alert('8-16자의 영문 대/소문자, 숫자, 특수문자를 사용하세요.');
		    					
		    				}else if(result == 'same'){
								alert('현재 사용중인 비밀번호입니다.');
								
							}else if(result == 'unequal'){
								alert('새 비밀번호와 비밀번호 확인이 일치하지 않습니다.');
								
							}else if(result == 'true') {
		    					alert('비밀번호 변경 완료');
		    					location.href = "/changePwSuccess";
		    					
		    				}else{
		    					console.log("####result==null");
		    				}
	    					
	    					
		    					
	    				},
	    				
	    			error: function( xhr ) {
			    		 console.log( xhr );
			    		 alert(xhr.status + ':' + xhr.statusText);
	    			
	    			}	
	    				
	    		})
    		}
    		
    	}
    </script>
</body>
</html>        
        
