<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="success.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
        <div>
            <a href="/main.html"><h1>THE HOTEL</h1></a>
        </div>
        <section class="head">
            <ul>
                <li><a href="hotelinfo.html">호텔 정보</a></li>
            </ul>
            <ul>
                <li><a href="roominfo.html">객실 정보</a></li>
            </ul>
            <ul>
                <li><a href="login.html">로그인</a></li>
            </ul>
            <ul>
                <li><a href="">예약 확인</a></li>
            </ul>
            <ul>
                <li><a href="map.html">오시는 길</a></li>
            </ul>
            <ul>
                <li><a href="qna.html">Q & A</a></li>
            </ul>
        </section>
    </header>
    <hr>
    <section class="body">
        <h3>Welcome!</h3>
        <div>
            <a href="">로그인</a>
            <p>
            <span><a href="">메인 화면으로 돌아가기</a></span>
        </p>
        </div>
    </section>

</body>

</html>