<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="admin_qna.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="wrap">
        <h2>Q & A</h2>
        <hr>
        <table class="QandA" border="1">
            <thead>
                <tr>
                    <td class="one">No.</td>
                    <td class="two">Name</td>
                    <td class="three">Title</td>
                    <td class="four">Date</td>
                    <td class="five">답변</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>No.</td>
                    <td>Name</td>
                    <td><a href="">Title</a></td>
                    <td>Date</td>
                    <td>답변</td>
                </tr>
                <tr>
                    <td>No.</td>
                    <td>Name</td>
                    <td><a href="">Title</a></td>
                    <td>Date</td>
                    <td>답변</td>
                </tr>
                <tr>
                    <td>No.</td>
                    <td>Name</td>
                    <td><a href="">Title</a></td>
                    <td>Date</td>
                    <td>답변</td>
                </tr>
                <tr>
                    <td>No.</td>
                    <td>Name</td>
                    <td><a href="">Title</a></td>
                    <td>Date</td>
                    <td>답변</td>
                </tr>
                <tr>
                    <td>No.</td>
                    <td>Name</td>
                    <td><a href="">Title</a></td>
                    <td>Date</td>
                    <td>답변</td>
                </tr>
                <tr>
                    <td>No.</td>
                    <td>Name</td>
                    <td><a href="">Title</a></td>
                    <td>Date</td>
                    <td>답변</td>
                </tr>
                <tr>
                    <td>No.</td>
                    <td>Name</td>
                    <td><a href="">Title</a></td>
                    <td>Date</td>
                    <td>답변</td>
                </tr>
                <tr>
                    <td>No.</td>
                    <td>Name</td>
                    <td><a href="">Title</a></td>
                    <td>Date</td>
                    <td>답변</td>
                </tr>
                <tr>
                    <td>No.</td>
                    <td>Name</td>
                    <td><a href="">Title</a></td>
                    <td>Date</td>
                    <td>답변</td>
                </tr>
            </tbody>
            <tfoot>
                <span>
                    <a href="">이전 페이지로</a>
                    <a href="">다음 페이지로</a>
                </span>
            </tfoot>
        </table>
    </div>
</body>
<script>
</script>

</html>