@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
}

header {
    position: relative;
    block-size: 100px;
    padding-left: 200px;
}

header div a h1 {
    display: inline-block;
    margin-left: 50px;
    position: absolute;
    left: 40px;
    color: black;
}

header section {
    position: absolute;
    right: 120px;
    margin-top: 18px;
}

header section ul {
    display: inline-block;
}

header section ul li {
    list-style: none;
}

header section ul li a {
    text-decoration: none;
    color: slategray;
    font-size: 18px;
}

header section ul li a:hover {
    color: black;
    transition: 0.3s;
}

.head {}

hr {
    width: 90%;
}


@media (max-width:800px) {
    header section ul {
        margin-top: 60px;
        margin-left: 4px;
        padding-left: 20px;
    }

    header section {
        display: flex;

    }

    header section ul li {
        height: 25px;
        margin-left: 5px;
        inline-size: 45px;
    }

    header section ul li a {

        font-size: 0.7em;
        padding: 0;
        inline-size: 200px;
        block-size: 10px;
        display: inline;

    }

    .head {
        margin-left: 150px;
        padding-left: 300px;

    }
}


.admin_body {
    margin-top: 30px;
}

.admin_body div {}

.admin_body div ul {
    margin: 0 auto;
    size: 300px;
    inline-size: 600px;
}

.admin_body div ul li {
    display: inline-flex;
    margin-left: 70px;
}

.admin_body div ul li a {
    text-decoration: none;
    list-style: none;
    color: gray;
    display: inline-flex;
    font-size: 18px;
}

.admin_body div ul li a:hover {
    color: black;
    transition: 0.3s;
}

.table_div {
    margin: 0 auto;
    block-size: 500px;
    padding-top: 100px;
    text-align: center;
}

table {
    margin: 0 auto;
    border: 1px solid black;
    width: 750px;
}

thead {
    background-color: darkcyan;
    color: aliceblue;
    font-size: 20px;
}

tbody {}

.one {
    width: 20px;
}

.two {
    width: 100px;
}

.three {
    width: 120px;
}

.four {
    width: 80px;
}

.five {
    width: 150px;
}

.six {}

.seven {
    width: 100px;
}

ol{
    list-style: none;
}


.site_now {
    font-weight: bold;
}

.question_user {
    margin-top: 0;
    padding-top: 150px;
    block-size: 152px;
    padding-bottom: 150px;
    padding-left: 550px;
}
.none_text{
    size: 0;
    padding: 0;
    width: 0;
}

.question_user ol {
    
}

.question_user ol li {
}

.info_ol {
    font-size: 20px;
    width: 100px;
    text-align: right;
    display: inline-block;
    padding-right: 28px;
    background-color: darkcyan;
    color: aliceblue;
    margin: 0 auto;
    border-radius: 4px;
}

.info_ol li{
    padding-right: 0;
    margin-bottom: 8px;
}


.Answer_ol {
    font-size: 20px;
    width: 100px;
    display: inline-block;
    padding-left: 0;
}

.Answer_ol li{
    margin-bottom: 10px;
    border-width: 10%;
    font-size: 18px;
}
.Answer{
    width: 500px;
    left: 702px;
    top: 402px;
    padding-right: 9px;
    block-size: 200px;
    position: absolute;
}
.Answer ol{display: inline-block; padding-left: 28px;}
.Answer ol li{display: inline-block;}
.Answer_line{display: block; size: 700px;}

.foot_line{
    width: 45%;
}

.admin_Answer{
    text-align: center;

}

#answer{
    inline-size: 400px;
    block-size: 30px;
    margin-top: 20px;
}

.answer_submit{
    margin-top: 20px;
    size: 20px;
    background-color: black;
    color: aliceblue;
    padding: 10px 15px 10px 15px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}